/* Basic Style */

body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header__more-info {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header {
    text-align: center;
}

}

.wrapper {
  display: block;
  width: 400px;
  margin: 0 auto 0;
}

.add-task__task,
.item__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
  text-transform: capitalize;
  outline: none;
}

.list {
  margin: 0;
  padding: 0px;
}

.item {
  list-style: none;
}

.checkbox,
.task {
  outline: none;
}

.add-task__btn,
.item__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
}

.add-task__btn:hover,
.item__btn:hover {
  color: #3a3a3a;
}

/* Heading */

.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.item__task_input,
.add-task__task_input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  outline: none;
  width: 300px;
}

.task:focus {
  color: #333;
}

/* New Task */

.title_add {
  display: block;
  margin: 0 0 20px;
}

.task_add {
  width: 318px;
}

p > button:hover {
  color: #0fc57c;
}

/* Task list */

.item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.item > * {
  vertical-align: middle;
}

.item__checkbox {
  margin: 0 10px;
}

.item__task_label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.item__task_input {
  width: 226px;
}

.item__btn_delete:hover {
  color: #cf2323;
}

.item__image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.item__image:hover {
  transform: rotateZ(0);
}

/* Completed */

.list#completed-tasks .item__task_label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.item__task_input {
  display: none;
}

.item.edit-mode .item__task_input {
  display: inline-block;
  width: 203px;
}

.item.edit-mode .item__task_label {
  display: none;
}